<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.NhanceNow.Utility.ListenerClass" />
		<listener
			class-name="com.NhanceNow.Utility.RetryAnalyzerClass" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.NhanceNow.SettingsTestCases.SettingsPageTest" />
			<class name="com.NhanceNow.LoginTestCases.ForgotpasswordTest" />
			<class
				name="com.NhanceNow.SettingsTestCases.EditProfilePageTest" />
			<class name="com.NhanceNow.LoginTestCases.HomePageTest" />
			<class name="com.NhanceNow.LoginTestCases.LoginPageTest" />
			<class name="com.NhanceNow.BotTestCases.FlowBuilderPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
